@charset "utf-8";

.main-table {}
.main-table .table-row {display: flex;align-items: stretch;border: 1px solid $black;border-bottom: 0;}
.main-table .table-row:last-child {border-bottom: 1px solid $black;}
.main-table .table-col {width: 100%;}
.main-table [class^="table-col"]:not(:last-child) {border-right: 1px solid $black;}
@for $i from 1 to 24 {
  .main-table .table-col-#{$i} {width: calc(100% / (24 / $i));}
}

.main-head {padding: 10px 0;text-align: center;}
.main-head h6 {@include h6;letter-spacing: 4px;text-transform: uppercase;}

.main-logo {display: flex;justify-content: center;align-items: center;height: 100%;}
.main-logo h1 {@include h1;}

.main-profile-name {}
.main-profile-name h6 {@include h6;}

.main-foot {padding: 10px 0;text-align: center;}
.main-foot p {@include font-small;}
